---
# title: samba-ad-dc
#

# Idempotent way to build a /etc/hosts file with Ansible using your Ansible hosts inventory for a source.
# Will include all hosts the playbook is run on.
# Inspired from http://xmeblog.blogspot.com/2013/06/ansible-dynamicaly-update-etchosts.html

# This include_vars allows you to keep your vaulted variables outside of your main repo
# It assumes the PRIVATE_REPO environment variable is set to the path of your private repo
# On home-infra, this is done by firstrun.sh.
# However, this role will not break if you do not have these
- name: Include vaulted password file
  ansible.builtin.include_vars:
    file: "{{ item }}"
  with_first_found:
    - files:
        - "{{ lookup('env', 'PRIVATE_REPO') | default('~') }}/{{ ansible_vault }}/{{ ansible_role_name }}-vars.yml"
      skip: true

- name: Assert this host must have a ad_role defined and be in the activedirectory group
  ansible.builtin.assert:
    that:
      - "'activedirectory' in group_names"
      - hostvars[inventory_hostname]['ad_role'] is defined
      - hostvars[inventory_hostname]['dns_forwarder'] is defined
    fail_msg: "Inventory error: this host must be in the activedirectory group and have a ad_role and forwarder defined"
    success_msg: "Required inventory settings found"

- name: Set this host's ad_role into a fact
  ansible.builtin.set_fact:
    ad_role: "{{ hostvars[inventory_hostname]['ad_role'] }}"

- name: Set this host's dns_forwarder into a fact
  ansible.builtin.set_fact:
    smb_dns_forwarder: "{{ hostvars[inventory_hostname]['dns_forwarder'] | default(fallback_dns) }}"

- name: "Print the Active Directory role for {{ inventory_hostname }}"
  ansible.builtin.debug:
    msg:
      - "This host has the following Active Directory role: {{ ad_role }}"

- name: No matter this host's AD-role, some tasks should always be done
  ansible.builtin.import_tasks: shared.yml

- name: Import the tasks that are needed for primary AD DC's
  ansible.builtin.import_tasks: primary.yml
  when:
    - ad_role == "primary"

- name: For Debian bookworm - additional
  ansible.builtin.import_tasks: additional.yml
  when:
    - ad_role != "primary"

- name: Checking whether all configured Active Directories are up and running
  block:
    - name: "Check whether there is samba-ad-dc configured for {{ inventory_hostname }}"
      ansible.builtin.command: samba-tool domain info 127.0.0.1
      register: checkall_result
      changed_when: false
      delegate_to: "{{ item }}"
      with_items: "{{ groups['activedirectory'] }}"

    - name: Set switch to confirm all AD's mentioned in the inventory are alive
      ansible.builtin.set_fact:
        all_ad_up: true
  rescue:
    - name: Set switch in case one of the inventory AD's are not found to be alive
      ansible.builtin.set_fact:
        all_ad_up: false

- name: Create the rsync-secrets file and give proper permissions
  ansible.builtin.template:
    src: var/lib/samba/private/rsyncd.secret.j2
    dest: /var/lib/samba/private/rsyncd.secret
    owner: root
    group: root
    mode: "0600"
  register: result_primary
  when: ad_role == "primary"

- name: Check whether crontab was already set
  ansible.builtin.lineinfile:
    dest: /var/spool/cron/crontabs/root
    line: "#Ansible: SysVol sync"
  check_mode: true
  register: result_secondary
  when: ad_role != "primary"
  ignore_errors: true

# Skipping SysVol sync setup as it is time-consuming. Should it not be setup (correctly),
# you can force the run of this task by clearing root's crontab on the additional (crontab -r)
# or by setting force_sysvol_rsync to true
- name: Import tasks to set sysvol sync, but only when the additional has been provisioned
  ansible.builtin.import_tasks: sysvol-sync.yml
  when:
    - groups['activedirectory'] | length > 1
    - all_ad_up | bool
    - (result_primary.changed | default(false)) or (result_secondary.failed | default (false)) or (force_sysvol_rsync | default(false))

# Sometimes, after reboot, Samba does not come up correctly. Plan a cronjob to restart at reboot:
- name: Set cronjob to restart samba services
  ansible.builtin.cron:
    name: "Bump samba-ad-dc at boot"
    special_time: reboot
    job: "sleep 15 && systemctl restart samba-ad-dc"
    user: root
    state: present
